# Ignorar todo
*
__pycache__/


# Permitir entrar a las carpetas
!*/

# Permitir estos archivos
!.gitignore
!README.md
!*.ipynb
!*.hyper
!*.twb
!*.py
!*.txt
!*.pdf

# Opcional: permitir README.md si quieres incluirlo
*.parquet
*.csv
*.parquet
*.pyc


